lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Build
public/css/main.css

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built files except the published Go module.
dist/*
!dist/networks/
dist/networks/*
!dist/networks/*.go
!dist/networks/*.mod
!dist/networks/*.sum
dist-browser

# ignore package-lock.json
package-lock.json
